body {
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    padding: 50px;

    background: linear-gradient(to bottom, #ff7e5f, #feb47b);
    height: 100vh;
    margin: 0;
}

#spotify-widget {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#current-track {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
}

#spotify-login {
    margin-top: 20px;
    display: block;
    color: #fff;
    text-decoration: none;
    background-color: #1DB954;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}

#spotify-login:hover {
    background-color: #1ed760;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: auto;
    overflow-y: auto;
    max-height: 50vh; /* Maximalhöhe für den Container */
}

input {
    width: 70%;
    padding: 8px;
}

button {
    padding: 8px;

}

li {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

li.completed {
    text-decoration: line-through;
    color: gray;
}

.completed {
    text-decoration: line-through; /* Durchgestrichener Text */
    color: gray; /* Optional: grau färben */
}